<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.glampick.mapper.GlampingMapper">

<!--  강국 ===================================================================  -->

    <!-- 글램핑 관심 등록-->
    <insert id="insertFavorite">
        INSERT INTO glamp_favorite (user_id, glamp_id)
        VALUES (#{userId},#{glampId})
    </insert>
    <!-- 글램핑 관심 취소-->
    <delete id="deleteFavorite">
        DELETE FROM glamp_favorite WHERE user_id = #{userId} AND glamp_id = #{glampId}
    </delete>

    <!-- 글램핑 상세 페이지 글램핑 정보 -->
    <select id="selGlampingInfo">
        SELECT		glamp_id AS glampId,
                    glamp_image AS glampImage,
                    glamp_name AS glampName,
                    star_point_avg AS starPointAvg,
                    glamp_location AS glampLocation,
                    glamp_intro AS glampIntro,
                    info_basic AS infoBasic,
                    info_parking AS infoParking,
                    info_notice AS infoNotice
        FROM 		glamping
        WHERE 		glamp_id = #{glampId}
    </select>
    <!-- 객실 정보  -->
    <select id="selRoomInfo">
        SELECT 		A.glamp_id,
                    A.room_name AS roomName,
                    A.room_price AS roomPrice,
                    A.room_id AS roomId,
                    A.room_num_people AS roomNumPeople,
                    A.room_max_people AS roomMaxPeople,
                    A.check_in_time AS checkInTime,
                    A.check_out_time AS checkOutTime,
                    B.room_image_name AS pic
        FROM  		room A
        INNER JOIN	room_image B
        ON 			A.room_id = B.room_id
        GROUP BY 	A.room_id
        HAVING 		A.glamp_id = #{glampId}
        <if test = "size != 0" >
            LIMIT 		#{size}
        </if>

    </select>
    <!-- 객실 사진 -->
    <select id="selRoomPics">
        SELECT          room_image_name AS room
        FROM 			room_image
        WHERE           room_id = #{roomId}
    </select>
    <!-- 글램핑의 객실 모든 이름 -->
    <select id="selRoomNames">
        SELECT 	    room_name
        FROM 		room
        WHERE 	    glamp_id = #{glampId}
    </select>

    <!-- 글램핑 상세 페이지 리뷰 데이터 -->
    <select id="selReviewInfoInGlamping">
        SELECT		    B.user_name AS userName,
                        A.review_content AS content
        FROM			review A
        INNER JOIN      user B
        ON 			    A.user_id = B.user_id
        WHERE 		    glamp_id = #{glampId}
        LIMIT           2;
    </select>
    <!-- 리뷰 유저수 -->
    <select id="selCount">
        SELECT COUNT(review_id) AS countReviewUsers
        FROM review
        WHERE glamp_id = 1;
    </select>
    <!-- 리뷰페이지 리뷰정보  -->
    <select id="selReviewInfo">
        SELECT              A.review_id AS reviewId,
                            A.glamp_id AS glampId,
                            B.user_profile_image AS userProfileImage,
                            B.user_name AS userNickName,
                            A.review_star_point AS starPoint,
                            A.created_at AS createdAt,
                            A.review_content AS userReviewContent,
                            A.review_comment AS ownerReviewContent
        FROM 				review A
        INNER JOIN 		    user B
        ON                  A.user_id = B.user_id
        WHERE 			    A.glamp_id = #{glampId}
        LIMIT               #{startIdx}, #{size}
    </select>
    <!-- 모든 리뷰이미지 -->
    <select id="allReviewImage">
        SELECT 		    A.review_image_name
        FROM 			review_image A
        INNER JOIN 	    review B
        ON 			    A.review_id = B.review_id
        WHERE 		    glamp_id = #{glampId}
        LIMIT           #{startIdx}, 10
    </select>
    <!-- 유저별 리뷰 이미지 -->
    <select id="selReviewImage">
        SELECT	    review_image_name
        FROM		review_image
        WHERE 	    review_id = #{reviewId}
    </select>
    <!-- 룸서비스 -->
    <select id="selRoomService">
        SELECT	    service_title
        FROM		service
        WHERE 	    service_id IN   (
                                    SELECT	service_id
                                    FROM 		room_service
                                    WHERE 	room_id = #{roomId}
                                    )
    </select>
<!--  민지 ===================================================================  -->

    <sql id="sort">
        <if test="sortType == 1">
            ORDER BY recommend_score DESC
        </if>
        <if test="sortType == 2">
            ORDER BY starPoint DESC
        </if>
        <if test="sortType == 3">
            ORDER BY reviewCount DESC
        </if>
        <if test="sortType == 4">
            ORDER BY price
        </if>
        <if test="sortType == 5">
            ORDER BY price DESC
        </if>
    </sql>

    <select id="searchGlampList">
        SELECT distinct(A.glamp_id) AS glampId
            , A.glamp_name AS glampName
            , A.glamp_image AS glampPic
            , A.star_point_avg AS starPoint
            , A.review_count AS reviewCount
             , D.room_price AS price
        FROM glamping A
        LEFT JOIN (
            SELECT glamp_id, room_id
            FROM reservation_before
            WHERE (check_in_date >= #{outDate}
            OR #{inDate} >= check_out_date )
            AND room_id IS NOT NULL
        ) B
        ON A.glamp_id = B.glamp_id
        <if test="filterSize != 0">
        JOIN (
            SELECT A.glamp_id
            FROM room A
            JOIN room_service B ON A.room_id = B.room_id
            WHERE B.service_id IN
            <foreach item="filterId" collection="filter" open="(" separator="," close=")">
                #{filterId}
            </foreach>
            GROUP BY A.glamp_id
            HAVING COUNT(DISTINCT B.service_id) = #{filterSize}
        ) C
        ON A.glamp_id = C.glamp_id
        </if>
        JOIN room D
        ON A.glamp_id = D.glamp_id
            AND D.room_price = ( SELECT MIN(room_price)
                    FROM room
                    WHERE glamp_id = A.glamp_id
                            AND (#{people} >= room_num_people  AND room_max_people >= #{people})
            )
        WHERE A.region = #{region}
        <if test="searchWord != null and searchWord != ''">
            AND A.glamp_name like '%${searchWord}%'
        </if>
        <include refid="sort"/>
        LIMIT #{startIdx}, #{size}
    </select>

    <select id="searchCount">
        SELECT COUNT(DISTINCT A.glamp_id)
        FROM glamping A
        LEFT JOIN (
        SELECT glamp_id, room_id
        FROM reservation_before
        WHERE (check_in_date >= #{outDate}
        OR #{inDate} >= check_out_date )
        AND room_id IS NOT NULL
        ) B
        ON A.glamp_id = B.glamp_id
        <if test="filterSize != 0">
            JOIN (
            SELECT A.glamp_id
            FROM room A
            JOIN room_service B ON A.room_id = B.room_id
            WHERE B.service_id IN
            <foreach item="filterId" collection="filter" open="(" separator="," close=")">
                #{filterId}
            </foreach>
            GROUP BY A.glamp_id
            HAVING COUNT(DISTINCT B.service_id) = #{filterSize}
            ) C
            ON A.glamp_id = C.glamp_id
        </if>
        JOIN room D
        ON A.glamp_id = D.glamp_id
        AND D.room_price = ( SELECT MIN(room_price)
        FROM room
        WHERE glamp_id = A.glamp_id
        AND (#{people} >= room_num_people  AND room_max_people >= #{people})
        )
        WHERE A.region = #{region}
        <if test="searchWord != null and searchWord != ''">
            AND A.glamp_name like '%${searchWord}%'
        </if>
    </select>

    <select id="existGlamp" >
        SELECT glamp_id
        FROM glamping
        WHERE region = #{region}
            and glamp_name = #{searchWord}
    </select>

    <select id="existGlampLike">
        SELECT glamp_id
        FROM glamping
        WHERE region = #{region}
        and glamp_name like '%${searchWord}%'
    </select>

</mapper>